<div class="card-panel" style="border:5px solid #784e26;">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" style="border-bottom:1px solid #212121">
        <li class="tab col s6" style="border-rigth:1px solid #212121"><a class="active" ui-sref="guestuserdashboard.guestuseroptions.guestusercreateevent">Create a New Event</a></li>
        <li class="tab col s6" style="border-left:1px solid #212121"><a ui-sref="guestuserdashboard.guestuseroptions.guestusershowevents">Events I'm Invited To</a></li>
      </ul>
      <br>
      <div ui-view></div>
    </div>
  </div>
</div>
